<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong>
        Importando bibliotecas
    </strong>
</p>

In [52]:
import pandas as pd
import xlwings as xw

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Lendo base de dados
    </strong>
</p>

In [26]:
#nome_arquivo = 'base_entregas_brutas'

def ler_arquivo(nome_arquivo):
    try:
        df = pd.read_excel(f'dados/{nome_arquivo}.xlsx')
        return df
    except FileNotFoundError as e:
        print (f'Erro:{e}')

def criar_atualizar_arquivo(nome_arquivo,df_tratado = ''):
    df_tratado.to_excel(f'dados/{nome_arquivo}.xlsx'
)            


df =ler_arquivo('base_entregas_brutas')

# controle_path = 'dados/base_entregas_brutas.xlsx'
# try: 
#     df = pd.read_excel(controle_path)
# except FileNotFoundError as e:
#     print(e)

<p style="font-size: 1.1rem; color: #9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Informações gerais
    </strong>
</p>

In [27]:

# df.shape
#df.info()
df.sample(5,random_state=42)

,id_entrega,filial,cliente,status,descricao_entrega,tipo_servico,valor_frete,data_postagem,prazo_previsto,dias_atraso
1126,1838,MG,Amazon,ATRASADO,Entrega com atraso por chuva,NaN,153.43,2026-01-17 19:55:58.122,3.0,NaN
79,1199,PR,Americanas,Entregue,Entrega reagendada,EXPRESSA,134.88,2026-01-16 19:55:58.137,7.0,2.0
3260,3143,SC,Americanas,atrasado,Problema operacional na rota,EXPRESSA,58.41,2026-01-15 19:55:58.119,NaN,0.0
1736,601,MG,NaN,Entregue,Entrega normal,EXPRESSA,181.55,2026-01-23 19:55:58.120,3.0,0.0
4526,979,RS,Shopee,EM TRANSITO,Entrega EXPRESSA,EXPRESS,140.26,2026-01-06 19:55:58.134,NaN,0.0

<p style="font-size: 1.1rem; color: #9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Dados ausentes        
    </strong>
</p>

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Por segurança, criamos uma copia do DF       
    </strong>
</p>

In [28]:
df_tratado = df.copy()

df_tratado.head()

,id_entrega,filial,cliente,status,descricao_entrega,tipo_servico,valor_frete,data_postagem,prazo_previsto,dias_atraso
0,2870,PR,Amazon,Entregue,Entrega realizada no prazo,Normal,274.75,2026-01-08 19:55:58.133,2.0,0.0
1,930,RJ,Mercado Livre,entregue,Entrega reagendada,Normal,81.90,2026-01-11 19:55:58.138,3.0,0.0
2,1934,MG,Amazon,Entregue,NaN,NaN,291.76,2026-01-13 19:55:58.123,5.0,3.0
3,940,MG,Amazon,ATRASADO,Entrega reagendada,econômico,40.89,2026-01-14 19:55:58.119,2.0,NaN
4,1969,SC,Mercado Livre,EM TRANSITO,Entrega com atraso por chuva,NaN,229.75,2026-01-19 19:55:58.134,NaN,0.0

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Filial 
    </strong>
</p>

In [29]:
#df_tratado.loc[2]

df_tratado.loc[:,'filial'] = df_tratado['filial'].fillna('Não informada')
df_tratado.loc[:,'descricao_entrega'] = df_tratado['descricao_entrega'].fillna('ok')
df_tratado.loc[:,'tipo_servico'] = df_tratado['tipo_servico'].fillna('validar')
df_tratado.loc[:,'status'] = df_tratado['status'].fillna('Não informada')

#df_tratado.loc[:,'prazo_previsto'] = df_tratado['prazo_previsto'].fillna('validar')





df_tratado.sample(5)

,id_entrega,filial,cliente,status,descricao_entrega,tipo_servico,valor_frete,data_postagem,prazo_previsto,dias_atraso
940,2182,RS,Mercado Livre,entregue,Entrega realizada no prazo,EXPRESSA,163.89,2026-02-01 19:55:58.115,2.0,0.0
2832,2994,PR,Amazon,ATRASADO,Entrega normal,Normal,38.48,2026-01-09 19:55:58.113,1.0,0.0
1300,3506,Não informada,Mercado Livre,Não informada,Extravio temporário,Normal,83.13,2026-01-15 19:55:58.132,3.0,0.0
2448,328,PR,Magazine Luiza,ATRASADO,Entrega normal,Normal,56.76,2026-01-27 19:55:58.113,1.0,1.0
2778,1191,SP,NaN,atrasado,Entrega com atraso por chuva,Normal,43.52,2026-01-21 19:55:58.115,3.0,3.0

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Cliente 
    </strong>
</p>

In [30]:
df_tratado.loc[:,'cliente'] = df_tratado['cliente'].fillna('outros')

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Dias de atraso 
    </strong>
</p>

In [31]:
df_tratado.loc[:,'dias_atraso'] = df_tratado['dias_atraso'].fillna(0) #fillna('=2+2')

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Prazo previsto 
    </strong>
</p>

In [32]:
df_tratado.loc[:,'prazo_previsto'] = df_tratado['prazo_previsto'].fillna(
    df_tratado['prazo_previsto'].median()
)

df_tratado.head(7)

,id_entrega,filial,cliente,status,descricao_entrega,tipo_servico,valor_frete,data_postagem,prazo_previsto,dias_atraso
0,2870,PR,Amazon,Entregue,Entrega realizada no prazo,Normal,274.75,2026-01-08 19:55:58.133,2.0,0.0
1,930,RJ,Mercado Livre,entregue,Entrega reagendada,Normal,81.90,2026-01-11 19:55:58.138,3.0,0.0
2,1934,MG,Amazon,Entregue,ok,validar,291.76,2026-01-13 19:55:58.123,5.0,3.0
3,940,MG,Amazon,ATRASADO,Entrega reagendada,econômico,40.89,2026-01-14 19:55:58.119,2.0,0.0
4,1969,SC,Mercado Livre,EM TRANSITO,Entrega com atraso por chuva,validar,229.75,2026-01-19 19:55:58.134,3.0,0.0
5,220,MG,Americanas,ENTREGUE,ok,EXPRESSA,57.34,2026-01-25 19:55:58.124,3.0,0.0
6,2689,MG,Shopee,Em trânsito,ok,EXPRESS,117.32,2026-01-25 19:55:58.110,2.0,0.0

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Duplicadas
    </strong>
</p>

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Verificando duplicadas com base no ID 
    </strong>
</p>

In [33]:
df_tratado.duplicated(subset=['id_entrega']).sum()

2334

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Removendo duplicadas, mantendo a primeira ocorrencia
    </strong>
</p>

In [34]:
#df_tratado.drop_duplicates(subset=['id_entrega'],inplace=True) esta jeito com inplace sera descontinuado!!!!

df_tratado = df_tratado.drop_duplicates(subset=['id_entrega'])

df_tratado.duplicated(subset=['id_entrega']).sum()

0

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Tipagem correta para ID
    </strong>
</p>

In [35]:
df_tratado['id_entrega'] = df_tratado['id_entrega'].astype('Int64')
df_tratado['prazo_previsto'] = df_tratado['prazo_previsto'].astype('int64')
df_tratado['dias_atraso'] = df_tratado['dias_atraso'].astype('int64')

df_tratado.dtypes

id_entrega                    Int64
filial                       object
cliente                      object
status                       object
descricao_entrega            object
tipo_servico                 object
valor_frete                 float64
data_postagem        datetime64[ns]
prazo_previsto                int64
dias_atraso                   int64
dtype: object

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Padronização e Normalização
    </strong>
</p>

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Removendo espaços e alterando para caixa alta 
    </strong>
</p>

In [36]:
df_tratado['status'] = df_tratado['status'].str.strip().str.upper()
df_tratado['tipo_servico'] = df_tratado['tipo_servico'].str.strip().str.upper()

df_tratado

,id_entrega,filial,cliente,status,descricao_entrega,tipo_servico,valor_frete,data_postagem,prazo_previsto,dias_atraso
0,2870,PR,Amazon,ENTREGUE,Entrega realizada no prazo,NORMAL,274.75,2026-01-08 19:55:58.133,2,0
1,930,RJ,Mercado Livre,ENTREGUE,Entrega reagendada,NORMAL,81.90,2026-01-11 19:55:58.138,3,0
2,1934,MG,Amazon,ENTREGUE,ok,VALIDAR,291.76,2026-01-13 19:55:58.123,5,3
3,940,MG,Amazon,ATRASADO,Entrega reagendada,ECONÔMICO,40.89,2026-01-14 19:55:58.119,2,0
4,1969,SC,Mercado Livre,EM TRANSITO,Entrega com atraso por chuva,VALIDAR,229.75,2026-01-19 19:55:58.134,3,0
...,...,...,...,...,...,...,...,...,...,...
5177,65,PR,Amazon,ATRASADO,Extravio temporário,NORMAL,251.47,2026-01-29 19:55:58.143,5,2
5184,1056,RJ,Magazine Luiza,ATRASADO,Cliente ausente no local,NORMAL,320.94,2026-01-14 19:55:58.134,2,0
5188,291,SP,Americanas,EM TRÂNSITO,Entrega realizada no prazo,NORMAL,155.01,2026-01-08 19:55:58.141,3,0
5190,1681,Não informada,outros,EM TRÂNSITO,ok,VALIDAR,218.20,2026-01-06 19:55:58.118,3,0
5194,2712,RS,Shopee,ENTREGUE,Problema operacional na rota,VALIDAR,188.58,2026-01-14 19:55:58.135,2,0

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Status 
    </strong>
</p>

In [37]:
mapa_status = {
    'ENTREGUES'    : 'ENTREGUE',
    'EM TRÂNSITO' : 'EM TRANSITO',
    'EM TRANZITO' : 'EM TRANSITO',
    'ATRAZADO'    : 'ATRASADO',
    'ATRASADO'    : 'ATRASADO',
    ' ATRASADO'    : 'ATRASADO',
    'ENTREGUE'    : 'ENTREGUE',
    'EM TRÂNSITO' : 'EM TRANSITO',
    'NÃO INFORMADA' : 'NAO INFORMADA', #Não informada
    'Entregue ': 'ENTREGUE',
    'entregue': 'ENTREGUE',
    'ATRASADO': 'ATRASADO',
    'EM TRANSITO': 'EM TRANSITO',
    'Em trânsito': 'EM TRANSITO',
}

df_tratado['status'] = df_tratado['status'].map(mapa_status)

df_tratado.head(5)

,id_entrega,filial,cliente,status,descricao_entrega,tipo_servico,valor_frete,data_postagem,prazo_previsto,dias_atraso
0,2870,PR,Amazon,ENTREGUE,Entrega realizada no prazo,NORMAL,274.75,2026-01-08 19:55:58.133,2,0
1,930,RJ,Mercado Livre,ENTREGUE,Entrega reagendada,NORMAL,81.90,2026-01-11 19:55:58.138,3,0
2,1934,MG,Amazon,ENTREGUE,ok,VALIDAR,291.76,2026-01-13 19:55:58.123,5,3
3,940,MG,Amazon,ATRASADO,Entrega reagendada,ECONÔMICO,40.89,2026-01-14 19:55:58.119,2,0
4,1969,SC,Mercado Livre,EM TRANSITO,Entrega com atraso por chuva,VALIDAR,229.75,2026-01-19 19:55:58.134,3,0

CRIANDO COLUNA CALCULADA

In [38]:
df_tratado['data_prevista'] = (
    df_tratado['data_postagem'] + 
    pd.to_timedelta(df_tratado['prazo_previsto'],unit = 'D')  #(d = dia) (m = mes) (y = ano)
)

df_tratado[
    [
    'data_postagem',
    'prazo_previsto',
    'data_prevista'
    ]
]

df_tratado.head(2)

,id_entrega,filial,cliente,status,descricao_entrega,tipo_servico,valor_frete,data_postagem,prazo_previsto,dias_atraso,data_prevista
0,2870,PR,Amazon,ENTREGUE,Entrega realizada no prazo,NORMAL,274.75,2026-01-08 19:55:58.133,2,0,2026-01-10 19:55:58.133
1,930,RJ,Mercado Livre,ENTREGUE,Entrega reagendada,NORMAL,81.90,2026-01-11 19:55:58.138,3,0,2026-01-14 19:55:58.138

In [39]:
hoje = pd.Timestamp.today().normalize()

df_tratado['Atraso']=(
    hoje - df_tratado['data_prevista']
).dt.days
df_tratado['Atraso'] = df_tratado['Atraso'].clip(lower=0)

df_tratado

,id_entrega,filial,cliente,status,descricao_entrega,tipo_servico,valor_frete,data_postagem,prazo_previsto,dias_atraso,data_prevista,Atraso
0,2870,PR,Amazon,ENTREGUE,Entrega realizada no prazo,NORMAL,274.75,2026-01-08 19:55:58.133,2,0,2026-01-10 19:55:58.133,26
1,930,RJ,Mercado Livre,ENTREGUE,Entrega reagendada,NORMAL,81.90,2026-01-11 19:55:58.138,3,0,2026-01-14 19:55:58.138,22
2,1934,MG,Amazon,ENTREGUE,ok,VALIDAR,291.76,2026-01-13 19:55:58.123,5,3,2026-01-18 19:55:58.123,18
3,940,MG,Amazon,ATRASADO,Entrega reagendada,ECONÔMICO,40.89,2026-01-14 19:55:58.119,2,0,2026-01-16 19:55:58.119,20
4,1969,SC,Mercado Livre,EM TRANSITO,Entrega com atraso por chuva,VALIDAR,229.75,2026-01-19 19:55:58.134,3,0,2026-01-22 19:55:58.134,14
...,...,...,...,...,...,...,...,...,...,...,...,...
5177,65,PR,Amazon,ATRASADO,Extravio temporário,NORMAL,251.47,2026-01-29 19:55:58.143,5,2,2026-02-03 19:55:58.143,2
5184,1056,RJ,Magazine Luiza,ATRASADO,Cliente ausente no local,NORMAL,320.94,2026-01-14 19:55:58.134,2,0,2026-01-16 19:55:58.134,20
5188,291,SP,Americanas,EM TRANSITO,Entrega realizada no prazo,NORMAL,155.01,2026-01-08 19:55:58.141,3,0,2026-01-11 19:55:58.141,25
5190,1681,Não informada,outros,EM TRANSITO,ok,VALIDAR,218.20,2026-01-06 19:55:58.118,3,0,2026-01-09 19:55:58.118,27
5194,2712,RS,Shopee,ENTREGUE,Problema operacional na rota,VALIDAR,188.58,2026-01-14 19:55:58.135,2,0,2026-01-16 19:55:58.135,20

In [1]:
df_tratado['Atraso'] = (df_tratado['dias_atraso'] > 0).astype(int)

print('qtde_atraso')
print(df_tratado['dias_atraso'].sum())
df_tratado.head(5)

NameError: name 'df_tratado' is not defined

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Prazo Previsto de acordo com a filial
    </strong>
</p>

In [49]:
df_tratado.loc[
    (df_tratado['cliente']=='Shopee') & (df_tratado['filial']=='RJ'),
    'prazo_previsto'
] = 5
df_tratado.loc[
(df_tratado['cliente']=='Amazon') & (df_tratado['filial'].isin(['MG','SP'])),
    'prazo_previsto'
] = 2


df_tratado

,id_entrega,filial,cliente,status,descricao_entrega,tipo_servico,valor_frete,data_postagem,prazo_previsto,dias_atraso,data_prevista,Atraso
0,2870,PR,Amazon,ENTREGUE,Entrega realizada no prazo,NORMAL,274.75,2026-01-08 19:55:58.133,2,0,2026-01-10 19:55:58.133,0
1,930,RJ,Mercado Livre,ENTREGUE,Entrega reagendada,NORMAL,81.90,2026-01-11 19:55:58.138,3,0,2026-01-14 19:55:58.138,0
2,1934,MG,Amazon,ENTREGUE,ok,VALIDAR,291.76,2026-01-13 19:55:58.123,2,3,2026-01-18 19:55:58.123,1
3,940,MG,Amazon,ATRASADO,Entrega reagendada,ECONÔMICO,40.89,2026-01-14 19:55:58.119,2,0,2026-01-16 19:55:58.119,0
4,1969,SC,Mercado Livre,EM TRANSITO,Entrega com atraso por chuva,VALIDAR,229.75,2026-01-19 19:55:58.134,3,0,2026-01-22 19:55:58.134,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5177,65,PR,Amazon,ATRASADO,Extravio temporário,NORMAL,251.47,2026-01-29 19:55:58.143,5,2,2026-02-03 19:55:58.143,1
5184,1056,RJ,Magazine Luiza,ATRASADO,Cliente ausente no local,NORMAL,320.94,2026-01-14 19:55:58.134,2,0,2026-01-16 19:55:58.134,0
5188,291,SP,Americanas,EM TRANSITO,Entrega realizada no prazo,NORMAL,155.01,2026-01-08 19:55:58.141,3,0,2026-01-11 19:55:58.141,0
5190,1681,Não informada,outros,EM TRANSITO,ok,VALIDAR,218.20,2026-01-06 19:55:58.118,3,0,2026-01-09 19:55:58.118,0
5194,2712,RS,Shopee,ENTREGUE,Problema operacional na rota,VALIDAR,188.58,2026-01-14 19:55:58.135,2,0,2026-01-16 19:55:58.135,0

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Atualizando arquivo para executar formulas
    </strong>
</p>

In [60]:
app = xw.App(visible = True)  #abre o arquivo excel e deixa tela oculta

wb = xw.Book('dados/base_entregas_tratadasx.xlsx') #abre o caminho do arquivo

wb.app.calculate()  #forca calcular as formulas da planilha

wb.save() #Atualiza o aqruivo

wb.close() #Fecha o arquivo

app.quit() #Fecha o aplicativo excel

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Salvando arquivo tratado
    </strong>
</p>

In [41]:
criar_atualizar_arquivo('base_entregas_tratadasx',df_tratado=df_tratado)