IMPORTANDO LIBS

In [3]:
import pyodbc
import pandas as pd

    CRIANDO CONEXAO

In [4]:
conn = pyodbc.connect(
    'DRIVER={SQL Server};'\
    'SERVER=den1.mssql7.gear.host;'\
    'DATABASE=vendasbicyclon;'\
    'UID=vendasbicyclon;'\
    'PWD=senha@clarify;'\
    'MARS_Connection=Yes'
)

In [5]:
query = """
SELECT 
    TABLE_SCHEMA,
    TABLE_NAME
        FROM INFORMATION_SCHEMA.TABLES
        WHERE TABLE_TYPE = 'BASE TABLE'
        ORDER BY TABLE_SCHEMA , TABLE_NAME 
"""

df_tabelas = pd.read_sql(query,conn)
df_tabelas

C:\Users\rafael.cardoso\AppData\Local\Temp\ipykernel_17264\2033835343.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tabelas = pd.read_sql(query,conn)

  TABLE_SCHEMA      TABLE_NAME
0          dbo        clientes
1          dbo     itensPedido
2          dbo  linhasProdutos
3          dbo         pedidos
4          dbo        produtos
5          dbo       regionais
6          dbo     sysdiagrams
7          dbo      vendedores

CLIENTES

In [10]:
query2 = """
      select *
      from  produtos
"""

df_clientes = pd.read_sql(query2,conn)
df_clientes

C:\Users\rafael.cardoso\AppData\Local\Temp\ipykernel_17264\1401316776.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_clientes = pd.read_sql(query2,conn)

,idProduto,fkLinhaProduto,nomeProduto,descricaoProduto,precoUnitario
0,1,1,Specialized Allez,Bike speed alumínio 18v,7990.0
1,2,1,Trek Domane AL 2,Speed endurance,9200.0
2,3,2,Caloi Elite Carbon,MTB carbono 12v,18500.0
3,4,2,Sense Impact Pro,MTB alumínio 12v,7800.0
4,5,3,Oggi Lite Tour,Bike urbana leve,3200.0
5,6,3,Caloi Urbam,Mobilidade urbana,2100.0
6,7,4,Capacete Giro Register,Capacete com MIPS,450.0
7,8,4,Luz Traseira Recarregável,LED 100 lumens,120.0
8,9,4,Luva Ciclismo Gel,Conforto para pedal longo,89.0
9,10,5,Grupo Shimano Deore,Transmissão 12v,2400.0
10,11,5,Cassete Shimano 11v,Relação 11-42,390.0
11,12,5,Freio a Disco Hidráulico Shimano,Kit dianteiro e traseiro,890.0

In [32]:
query3 = """
      select p.descricaoProduto,precoUnitario
      from  produtos p
        
"""

df_pedidos = pd.read_sql(query3,conn)
df_pedidos.loc[(df_pedidos['precoUnitario']>2000)]

C:\Users\rafael.cardoso\AppData\Local\Temp\ipykernel_13784\1828833829.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_pedidos = pd.read_sql(query3,conn)

                                    descricaoProduto  precoUnitario
1   Mountain Bike com suspens?o dianteira e traseira         2499.0
2                          Road Bike de carbono leve         3499.0
5         Electric Bike com motor de pedal assistido         2399.0
7              Kids Bike para crian?as de 6 a 9 anos         2999.0
10      Touring Bike para viagens longas e aventuras         2799.0

In [ ]:
def exe_query(query):
    return pd read_sql(query,conn)

lista_resposta = []
def exe_varias_querys(*args):
    for consulta in args:
        lista_resposta.append(pd.read_sql(consulta,conn))
    return lista_resposta