<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong>
        Estrutura de repetição | For
    </strong>
</p>

In [23]:
#for variavel in algo :

#range(inicio,fim,passo)  sempre um numero a mais pois o indice comeca com  zero
for contador in range(0,10,2):
    #if contador / 2 == 2:
    print(contador,end=";")

for contador2 in range(10,-1,-1):
    print(contador2)

0;2;4;6;8;10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# Computar entrega por semana.

soma_entrega = 0

for dia in range(1,7):
    print(soma_entrega)
    qtde_entregas = int(input(f'{dia}° dia |Qtde entregas: '))
    #soma_entrega = soma_entrega + qtde_entregas
    soma_entrega += qtde_entregas
    soma_entrega

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong></br></br></br></br>
        Estrutura de repetição | While
    </strong>
</p>

In [ ]:
# repetindo um texto 5 vezes com for

for contador in range(5):
    print("batata")



# repetindo um texto 5 vezes com while

numero = 0

while numero <=5:
    print('Frita')
    numero += 1

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong></br></br></br></br>
        Validando um senha de brincadeira
    </strong>
</p>

In [ ]:
senha_cadastrada = input('Senha: ')
senha_entrada = ''
tentativas = 0

while  senha_cadastrada != senha_entrada :
    senha_entrada = input('Digite sua senha: ')
    tentativas += 1

if tentativas == 3 and senha_cadastrada != senha_entrada:
   print ('Tentativas maximas atingidas')
   break
else:
    print('Liberado')

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong></br></br></br></br>
        While com Break
    </strong>
</p>

In [1]:
while True:
    menu = int(input('1_cadastrar | 2.Visualizar | 3.Sair | Opção: '))

    match menu:
        case 1:
            nome_franquia = input('Franquia: ')
        case 2:
            print(nome_franquia)
        case 3:
            break

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong></br></br></br></br>
        Coleção | Lista
    </strong>
</p>

In [ ]:
# Criando uma lista

lista1 = []
lista2 = list()
numeros = [range(0,61,1)]
numeros2 = list(range(0,61,1))

#           0   1   2    3   4  5  6  7
lista3 =['Leo',30,1.83,True,10,10,10,10]

In [ ]:
# Índice e Fatiamento

lista3[2]

for elementos in lista3:  #aqui usado para trazer apenas um dados da lista
    print(elementos)

for posicao, elemento in enumerate(lista3): # aqui para trazer mais dados de uma lista com esta funcao
    print(f'Na posicaposicao {posicao}; temos o elemento: {elemento}')

In [52]:
# Adicionando itens

nomes = ['Leo,"maria','Juca']
print(nomes)
nomes.append(['Jubileu','Ana'])
print(nomes)

nomes.append(input('Nome: '))

nomes.insert(0,'Beto')

nomes

['Leo,"maria', 'Juca']
['Leo,"maria', 'Juca', ['Jubileu', 'Ana']]

In [24]:
franquias =['LJ Rio de Janeiro 55','LJ Rio de Janeiro 23']

#while True:
try:
    franquia = input('Franquia:')
    franquias.index(franquia)
    print('Franquia cadastrada')

except ValueError:
    print('Franquia nao cadstrada')
    franquias.append(franquia)     
    

print(franquias)

Franquia nao cadstrada
['LJ Rio de Janeiro 55', 'LJ Rio de Janeiro 23', 'LJ 10']

In [33]:
# Removendo itens

Teste =['LJ Rio de Janeiro 55','LJ Rio de Janeiro 23','Tres Rios']

Teste.pop(0) # este mostra o item removido

Teste.remove('Tres Rios') # este remove mas nao mostra o item removido

Teste

['LJ Rio de Janeiro 23']

In [45]:

numeros = [3,2,1,5,6,4,1,16,51,32,5,6,16,5,1,3,2,0]

sum(numeros)

numeros.sort()
#numeros.reverse()
max(numeros)
min(numeros)
len(numeros)
numeros.count(1)

print(numeros)
print(numeros.count(15))
print(len(numeros))
print(round(sum(numeros)/ len(numeros),2))

[0, 1, 1, 1, 2, 2, 3, 3, 4, 5, 5, 5, 6, 6, 16, 16, 32, 51]
0
18
8.83

<p style="font-size: 1.1rem; color: #3bebda; text-align: center; font-family: monospace ">
    <strong></br></br></br></br>
        # Exemplo: Imagine que cada franquiado me pague 10% de seu faturamento mensal 
    </strong>
</p>

In [7]:
# Entrada de valores

franquias = ['RJ Rio de Janeiro 55','LJ Sao Paulo 55','LJ Tres Rios 11']

pg_franquias = []

for franquia in franquias:
    valor = float(input(f'{franquia} | Valor: '))
    
    pg_franquias.append(franquia)
    pg_franquias.append(valor)

pg_franquias

['RJ Rio de Janeiro 55',
 10.0,
 'LJ Sao Paulo 55',
 20.0,
 'LJ Tres Rios 11',
 30.0]

In [12]:
# Cálculo

soma = 0
for indice, dado in enumerate(pg_franquias):
    if indice%2 ==1:
        soma += dado *0.1


print(soma)

6.0

In [ ]:
franquiass = ['RJ Rio de Janeiro 55', 'LJ Sao Paulo 55', 'LJ Tres Rios 11']

aliquota = 0.10
total_royalties = 0.0

for item in franquiass:
    partes = item.split()
    codigo = partes[0]
    cidade = " ".join(partes[1:-1])  # ignoramos o número que veio na lista

    # pede o faturamento ao usuário
    entrada = input(f"Digite o faturamento de '{codigo} - {cidade}': ").strip()
    # permite vírgula decimal
    entrada = entrada.replace(",", ".")
    faturamento = float(entrada)

    royalty = faturamento * aliquota
    total_royalties += royalty

    print(f"{codigo} - {cidade} | Faturamento: {faturamento:.2f} | Royalty (10%): {royalty:.2f}")

print(f"\nTotal de royalties a receber: {total_royalties:.2f}")

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong></br></br></br></br>
        Coleção | Dicionário
    </strong>
</p>

In [ ]:
# Criando um dicionário

lista1 = []
lista2 = lis()

tupla1 = ()  #este tipo de Lista nao pode ser alterado
tupla2 = tuple()

dicionario1 = {}
dicionario2 = dict()

In [ ]:
dicionario3 = {'chave':'valor'}
dicionario4 = dict(chave='valor')

In [20]:
# Criando dicionario de países

paises = dict(
    br = 'Brasil',
    us = 'Estados Unidos'
)

paises.keys()
paises.values()
paises['br']
paises.get('py','Chave nao encontrada')

'Chave nao encontrada'

In [34]:
# Adicionando itens

paises = dict(
    br = 'Brasil',
    us = 'Estados Unidos'
)

paises.update({
    'ar':'Argentina',
    'fr':'Franca'
})

paises

{'br': 'Brasil', 'us': 'Estados Unidos', 'ar': 'Argentina', 'fr': 'Franca'}

In [35]:
# Removendo itens

#paises.pop('br')
paises.popitem()

('fr', 'Franca')

In [1]:

for chave, valor in paises.items():
    print(f'Na chave {chave}, temos valor {valor}')

NameError: name 'paises' is not defined

<p style="font-size: 1.1rem; color: #3bebda; text-align: center; font-family: monospace ">
    <strong></br></br></br></br>
        # Exemplo: Cadastrando e consumindo Franquias  
    </strong>
</p>

In [2]:
franquias_cadastradas =[]

for contador in range(2):

    franquia = dict(
        id            = int(input('ID: ')),
        cpf           = input('CPF: '),
        endereco      = input('ENDERECO: ').title(),
        bairro        = input('BAIRRO: ').title(),
        cidade        = input('CIDADE: ').title(),
        estado        = input('ESTADO: ').upper()
    )

    franquias_cadastradas.append(franquia)

franquias_cadastradas

[{'id': 1,
  'cpf': '32210916820',
  'endereco': 'Rua B',
  'bairro': 'X',
  'cidade': 'Laranja',
  'estado': 'SP'},
 {'id': 2,
  'cpf': '12345678901',
  'endereco': 'Rua M',
  'bairro': 'Maca',
  'cidade': 'Uva',
  'estado': 'RJ'}]

In [12]:


conta_unidades = 0   

for item in franquias_cadastradas:
    conta_unidades += 1   

    print(f"{conta_unidades}° franquia")
    print(f"ID = {item['id']}")
    print(f"CPF = {item['cpf']}")
    print(f"Bairro = {item['bairro']}")
    print(f"Endereço = {item['endereco']}")
    print(f"Cidade = {item['cidade']}")
    print(f"Estado = {item['estado']}")
    print()

1° franquia
ID = 1
CPF = 32210916820
Bairro = X
Endereço = Rua B
Cidade = Laranja
Estado = SP

2° franquia
ID = 2
CPF = 12345678901
Bairro = Maca
Endereço = Rua M
Cidade = Uva
Estado = RJ