In [4]:
import pandas as pd

CRIANDO DATAFRAME

In [25]:

df_entregas = pd.DataFrame({
    'id_entrega': [1, 2, 3],                     # chave primaria
    'filial':     ['RJ', 'MG', 'SP'],
    'status':     ['ENTREGUE', 'ATRASO', 'ENTREGUE']  
})

df_custos = pd.DataFrame({
    'id_custo':   [1, 2, 3],   
    'id_entrega': [1, 1, 3],
    'custo':      [150.09, 147.56, 278.26]
})

JOIN

In [26]:
#inner join

pd.merge(
    df_entregas,df_custos,
    on='id_entrega',
    how='outer'
)

   id_entrega filial    status  id_custo   custo
0           1     RJ  ENTREGUE       1.0  150.09
1           1     RJ  ENTREGUE       2.0  147.56
2           2     MG    ATRASO       NaN     NaN
3           3     SP  ENTREGUE       3.0  278.26

In [29]:
df_entregas_idx = df_entregas.set_index('id_entrega')
df_custos_idx = df_custos.set_index('id_entrega')   

#para relacionar com join e necessario criar index pois e atraves de numeracao que se localizam

df_join = df_entregas_idx.join(df_custos_idx,how='left')
df_join.reset_index()

   id_entrega filial    status  id_custo   custo
0           1     RJ  ENTREGUE       1.0  150.09
1           1     RJ  ENTREGUE       2.0  147.56
2           2     MG    ATRASO       NaN     NaN
3           3     SP  ENTREGUE       3.0  278.26